Repository graphql-dotnet/authorization, changes with the labels that .github/labeler.yml gives for each.
All labels: test, CI, code style, documentation

keep only 4.0.2
  .github/workflows/test.yml
  src/GraphQL.Authorization.Tests/GraphQL.Authorization.Tests.csproj
Labels: test, CI

encoding
  src/GraphQL.Authorization/AuthorizationContext.cs
Labels: none

apply format
  src/BasicSample/Program.cs
  src/GraphQL.Authorization.Tests/AuthorizationValidationRuleTests.cs
Labels: test

add 3.1 SDK
  .github/workflows/test.yml
Labels: CI

Add CodeQL, fix readme
  .github/workflows/codeql-analysis.yml
  README.md
  src/GraphQL.Authorization.sln
  src/GraphQL.Authorization/AuthorizationContext.cs
Labels: CI, documentation

apply format
  src/GraphQL.Authorization/AuthorizationContext.cs
Labels: none

return matrix
  .github/workflows/test.yml
  src/GraphQL.Authorization.Tests/GraphQL.Authorization.Tests.csproj
Labels: test, CI

.github/labeler.yml:

test:
  - src/GraphQL.Authorization.Tests/**/*
  - src/GraphQL.Authorization.ApiTests/**/*

CI:
  - .github/workflows/**/*

code style:
  - .editorconfig

documentation:
  - README.md
