Repository graphql-dotnet/authorization, changes with the labels that .github/labeler.yml gives for each.
All labels: test, CI, code style, documentation

.github/labeler.yml:

test:
  - src/GraphQL.Authorization.Tests/**/*
  - src/GraphQL.Authorization.ApiTests/**/*

CI:
  - .github/workflows/**/*
  - .github/dependabot.yml
  - .github/labeler.yml
  - .github/codecov.yml

code style:
  - .editorconfig

documentation:
  - README.md

format
  src/Harness/Harness.csproj
Labels: none

format
  src/BasicSample/BasicSample.csproj
Labels: none

fix codeql
  .github/workflows/codeql-analysis.yml
Labels: CI

format
  src/BasicSample/Program.cs
Labels: none

tab
  src/Directory.Build.props
Labels: none

remove BOM
  src/BasicSample/BasicSample.csproj
  src/GraphQL.Authorization.ApiTests/BomTests.cs
Labels: test

format
  src/GraphQL.Authorization.ApiTests/BomTests.cs
Labels: test

Additional changes
  .github/workflows/format.yml
  .github/workflows/test.yml
  README.md
  src/GraphQL.Authorization.sln
  src/GraphQL.Authorization/AuthorizationValidationRule.cs
Labels: CI, documentation

Update
  src/GraphQL.Authorization/AuthorizationValidationRule.cs
Labels: none

Update
  src/GraphQL.Authorization/AuthorizationValidationRule.cs
Labels: none

Update
  src/GraphQL.Authorization/AuthorizationValidationRule.cs
Labels: none

Update
  README.md
  src/GraphQL.Authorization.Tests/AuthorizationValidationRuleTests.cs
  src/GraphQL.Authorization.Tests/ValidationTestBase.cs
Labels: test, documentation

Update
  README.md
Labels: documentation

Update .github/workflows/format.yml
  .github/workflows/format.yml
Labels: CI

Additional changes for v7 compatibility (#255)
  .github/workflows/format.yml
  .github/workflows/test.yml
  README.md
  src/GraphQL.Authorization.Tests/AuthorizationValidationRuleTests.cs
  src/GraphQL.Authorization.Tests/ValidationTestBase.cs
  src/GraphQL.Authorization.sln
  src/GraphQL.Authorization/AuthorizationValidationRule.cs
Labels: test, CI, documentation

remove IProvideClaimsPrincipal
  README.md
  src/BasicSample/Program.cs
  src/GraphQL.Authorization.ApiTests/GraphQL.Authorization.approved.txt
  src/GraphQL.Authorization.Tests/GraphQLUserContext.cs
  src/GraphQL.Authorization.Tests/ValidationTestBase.cs
  src/GraphQL.Authorization/AuthorizationValidationRule.cs
  src/GraphQL.Authorization/IProvideClaimsPrincipal.cs
  src/Harness/GraphQL.cs
  src/Harness/Program.cs
Labels: test, documentation

style
  src/GraphQL.Authorization/AuthorizationValidationRule.cs
Labels: none

Update src/Harness/Program.cs
  src/Harness/Program.cs
Labels: none

Update src/Harness/Program.cs
  src/Harness/Program.cs
Labels: none

Update src/Harness/Program.cs
  src/Harness/Program.cs
Labels: none

fix
  src/Harness/Program.cs
Labels: none

oops
  .github/workflows/test.yml
Labels: CI

fix
  src/Directory.Build.targets
  src/Harness/Program.cs
Labels: none

Update src/GraphQL.Authorization.ApiTests/BomTests.cs
  src/GraphQL.Authorization.ApiTests/BomTests.cs
Labels: test

comment
  src/GraphQL.Authorization.ApiTests/BomTests.cs
Labels: test

Fix security flaw
  README.md
  src/GraphQL.Authorization.Tests/AuthorizationValidationRuleTests.cs
  src/GraphQL.Authorization/AuthorizationValidationRule.cs
Labels: test, documentation

Update
  README.md
Labels: documentation

Clarify
  README.md
Labels: documentation

Fix security flaw with nested fragments (#256)
  README.md
  src/GraphQL.Authorization.Tests/AuthorizationValidationRuleTests.cs
  src/GraphQL.Authorization/AuthorizationValidationRule.cs
Labels: test, documentation
