Repository graphql-dotnet/authorization, pull requests merged in 2020-11, with the labels that each got.

#86 Fix path
  .github/workflows/build.yml
Labels: CI

#88 Multi version targeting of GraphQL.NET
  .github/workflows/test.yml
  src/GraphQL.Authorization.Tests/GraphQL.Authorization.Tests.csproj
  src/GraphQL.Authorization/GraphQL.Authorization.csproj
Labels: CI, test

#87 Small cleanup
  .github/labeler.yml
  src/BasicSample/BasicSample.csproj
  src/Directory.Build.props
  src/GraphQL.Authorization.ApiTests/ApiApprovalTests.cs
  src/GraphQL.Authorization.ApiTests/GraphQL.Authorization.ApiTests.csproj
  src/GraphQL.Authorization.ApiTests/GraphQL.Authorization.approved.txt
  src/GraphQL.Authorization.Tests/AuthorizationEvaluatorTests.cs
  src/GraphQL.Authorization.Tests/AuthorizationValidationRuleTests.cs
  src/GraphQL.Authorization.Tests/ClaimAuthorizationRequirementTests.cs
  src/GraphQL.Authorization.Tests/GraphQLUserContext.cs
  src/GraphQL.Authorization.Tests/ValidationTestBase.cs
  src/GraphQL.Authorization/AuthorizationPolicy.cs
  src/GraphQL.Authorization/AuthorizationPolicyBuilder.cs
  src/GraphQL.Authorization/AuthorizationResult.cs
  src/GraphQL.Authorization/AuthorizationSettings.cs
  src/GraphQL.Authorization/AuthorizationValidationRule.cs
  src/GraphQL.Authorization/GraphQLAuthorizeAttribute.cs
  src/GraphQL.Authorization/IAuthorizationPolicy.cs
  src/GraphQL.Authorization/IAuthorizationRequirement.cs
  src/GraphQL.Authorization/IProvideClaimsPrincipal.cs
  src/GraphQL.Authorization/Requirements/AuthenticatedUserRequirement.cs
  src/GraphQL.Authorization/Requirements/ClaimAuthorizationRequirement.cs
  src/GraphQL.Authorization/Requirements/IAuthorizationRequirement.cs
  src/Harness/GraphQL.cs
Labels: bugfix, code style, performance, test
