Repository graphql-dotnet/authorization, pull requests merged in 2021-12, with the labels that each got.

#173 CodeQL support
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish.yml
Labels: CI

#171 Authorize only actual operation
  .github/codecov.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/test.yml
  src/BasicSample/BasicSample.csproj
  src/GraphQL.Authorization.ApiTests/GraphQL.Authorization.approved.txt
  src/GraphQL.Authorization.Tests/AuthorizationValidationRuleTests.cs
  src/GraphQL.Authorization.Tests/GraphQL.Authorization.Tests.csproj
  src/GraphQL.Authorization.Tests/ValidationTestBase.cs
  src/GraphQL.Authorization.Tests/ValidationTestConfig.cs
  src/GraphQL.Authorization.sln
  src/GraphQL.Authorization/AuthorizationValidationRule.cs
  src/GraphQL.Authorization/GraphQL.Authorization.csproj
Labels: bugfix

#178 Change private fields to public properties for ClaimAuthorizationRequirement
  src/BasicSample/Program.cs
  src/Directory.Build.props
  src/GraphQL.Authorization.ApiTests/GraphQL.Authorization.approved.txt
  src/GraphQL.Authorization/Requirements/ClaimAuthorizationRequirement.cs
Labels: test

#179 Added authorization for VariableReference fields
  src/GraphQL.Authorization.Tests/AuthorizationValidationRuleTests.cs
  src/GraphQL.Authorization/AuthorizationValidationRule.cs
Labels: enhancement, test

#182 NRE fix
  src/GraphQL.Authorization/AuthorizationValidationRule.cs
Labels: bugfix

#181 NRT
  src/BasicSample/Program.cs
  src/Directory.Build.props
  src/GraphQL.Authorization.ApiTests/GraphQL.Authorization.approved.txt
  src/GraphQL.Authorization.Tests/AuthorizationSchemaBuilderTests.cs
  src/GraphQL.Authorization.Tests/AuthorizationValidationRuleTests.cs
  src/GraphQL.Authorization.Tests/GraphQLUserContext.cs
  src/GraphQL.Authorization.Tests/ValidationTestBase.cs
  src/GraphQL.Authorization.Tests/ValidationTestConfig.cs
  src/GraphQL.Authorization/AuthorizationContext.cs
  src/GraphQL.Authorization/AuthorizationEvaluator.cs
  src/GraphQL.Authorization/AuthorizationPolicyBuilder.cs
  src/GraphQL.Authorization/AuthorizationResult.cs
  src/GraphQL.Authorization/AuthorizationSettings.cs
  src/GraphQL.Authorization/AuthorizationValidationRule.cs
  src/GraphQL.Authorization/IAuthorizationEvaluator.cs
  src/GraphQL.Authorization/IProvideClaimsPrincipal.cs
  src/GraphQL.Authorization/Requirements/ClaimAuthorizationRequirement.cs
  src/Harness/GraphQL.cs
  src/Harness/Startup.cs
Labels: enhancement, bugfix, test

#183 Update example packages
  src/BasicSample/BasicSample.csproj
  src/Harness/Harness.csproj
Labels: dependencies

#184 NET6
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
  src/BasicSample/BasicSample.csproj
  src/BasicSample/Program.cs
  src/Directory.Build.props
  src/GraphQL.Authorization.ApiTests/GraphQL.Authorization.ApiTests.csproj
  src/GraphQL.Authorization.Tests/AuthorizationValidationRuleTests.cs
  src/GraphQL.Authorization.Tests/GraphQL.Authorization.Tests.csproj
  src/GraphQL.Authorization/AuthorizationPolicy.cs
  src/GraphQL.Authorization/AuthorizationPolicyBuilder.cs
  src/GraphQL.Authorization/AuthorizationResult.cs
  src/GraphQL.Authorization/AuthorizationValidationRule.cs
  src/GraphQL.Authorization/Requirements/AuthenticatedUserRequirement.cs
  src/Harness/GraphQL.cs
  src/Harness/Harness.csproj
Labels: bugfix, code style, test, CI

#188 Add GraphQLBuilder method called AddAuthorization
  .github/workflows/test.yml
  src/GraphQL.Authorization.ApiTests/GraphQL.Authorization.approved.txt
  src/GraphQL.Authorization.Tests/GraphQL.Authorization.Tests.csproj
  src/GraphQL.Authorization/GraphQL.Authorization.csproj
  src/GraphQL.Authorization/GraphQLBuilderExtensions.cs
  src/Harness/GraphQLAuthExtensions.cs
  src/Harness/Startup.cs
Labels: test, CI
