Repository graphql-dotnet/authorization, pull requests merged in 2023-01, with the labels that each got.

#255 Additional changes for v7 compatibility
  .github/workflows/format.yml
  .github/workflows/test.yml
  README.md
  src/GraphQL.Authorization.Tests/AuthorizationValidationRuleTests.cs
  src/GraphQL.Authorization.Tests/ValidationTestBase.cs
  src/GraphQL.Authorization.sln
  src/GraphQL.Authorization/AuthorizationValidationRule.cs
Labels: documentation, CI

#256 Fix security flaw with nested fragments
  README.md
  src/GraphQL.Authorization.Tests/AuthorizationValidationRuleTests.cs
  src/GraphQL.Authorization/AuthorizationValidationRule.cs
Labels: documentation, test

#254 Update repo with the latest-and-greatest GraphQL.NET/CI/Code Style
  .editorconfig
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/format.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
  .gitignore
  README.md
  codeql/GraphQL.Authorization.CodeQL.sln
  src/BasicSample/BasicSample.csproj
  src/BasicSample/Program.cs
  src/Directory.Build.props
  src/Directory.Build.targets
  src/GraphQL.Authorization.ApiTests/ApiApprovalTests.cs
  src/GraphQL.Authorization.ApiTests/BomTests.cs
  src/GraphQL.Authorization.ApiTests/GraphQL.Authorization.ApiTests.csproj
  src/GraphQL.Authorization.ApiTests/GraphQL.Authorization.approved.txt
  src/GraphQL.Authorization.Tests/AuthenticatedUserRequirementTests.cs
  src/GraphQL.Authorization.Tests/AuthorizationEvaluatorTests.cs
  src/GraphQL.Authorization.Tests/AuthorizationSchemaBuilderTests.cs
  src/GraphQL.Authorization.Tests/AuthorizationSettingsTests.cs
  src/GraphQL.Authorization.Tests/AuthorizationValidationRuleTests.cs
  src/GraphQL.Authorization.Tests/ClaimAuthorizationRequirementTests.cs
  src/GraphQL.Authorization.Tests/GraphQL.Authorization.Tests.csproj
  src/GraphQL.Authorization.Tests/GraphQLUserContext.cs
  src/GraphQL.Authorization.Tests/ValidationTestBase.cs
  src/GraphQL.Authorization.Tests/ValidationTestConfig.cs
  src/GraphQL.Authorization.sln
  src/GraphQL.Authorization/AuthorizationContext.cs
  src/GraphQL.Authorization/AuthorizationEvaluator.cs
  src/GraphQL.Authorization/AuthorizationPolicy.cs
  src/GraphQL.Authorization/AuthorizationPolicyBuilder.cs
  src/GraphQL.Authorization/AuthorizationResult.cs
  src/GraphQL.Authorization/AuthorizationSettings.cs
  src/GraphQL.Authorization/AuthorizationValidationRule.cs
  src/GraphQL.Authorization/Extensions/AuthorizationGraphQLBuilderExtensions.cs
  src/GraphQL.Authorization/GraphQL.Authorization.csproj
  src/GraphQL.Authorization/GraphQLBuilderExtensions.cs
  src/GraphQL.Authorization/IAuthorizationEvaluator.cs
  src/GraphQL.Authorization/IAuthorizationPolicy.cs
  src/GraphQL.Authorization/IProvideClaimsPrincipal.cs
  src/GraphQL.Authorization/Requirements/AuthenticatedUserRequirement.cs
  src/GraphQL.Authorization/Requirements/ClaimAuthorizationRequirement.cs
  src/GraphQL.Authorization/Requirements/IAuthorizationRequirement.cs
  src/Harness/GraphQL.cs
  src/Harness/GraphQLAuthExtensions.cs
  src/Harness/Harness.csproj
  src/Harness/Program.cs
  src/Harness/Startup.cs
  src/Harness/appsettings.json
  src/Tests.props
  src/xunit.runner.json
Labels: code style, documentation, test, CI
